<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>
<!-- 
<%- include(param.rootPath + "template/lodc") -%>

<%- include(param.rootPath + "template/udc") -%>
-->

<div class="main">
  <div class="contents top-page">
    <section class="content top-visual">
    </section>
    <section class="content">
      <div class="content-wrap clearfix">
        <h1>ParmoSense<span>Platform for participatory mobile urban sensing</span></h1>
        <div class="top-about">
          <div class="app-ss">
            <img class="android-ss" src="<%= param.rootPath %>img/ss/android_1.png">
            <img class="iPhone-ss" src="<%= param.rootPath %>img/ss/iPhone_1.png">
          </div>
          <div class="left-description">
            <p>
              ParmoSenseは、街歩き・観光・地域イベントなどの参加者が、互いに「位置情報」に紐づく「情報」をリアルタイムに共有するためのプラットフォームです。
            </p>
            <p>
              また、リアルタイムな情報共有にとどまらず、共有されたデータの整理・解析により、都市環境情報を整備するためのアプリ<sup>＊1</sup>としても利用することができます。
            </p>
            <p>
              収集したデータは、Web API 経由で、XMLやJSON、KMLなど、オープンデータとして利用可能な形式として出力可能です。マッピングパーティやFix My Streetといった地域活動を支援することができます。
            </p>
            <p class="footnote">
              <sup>＊1</sup> ユーザ参加型モバイルセンシング
            </p>
            <a href="<%= param.rootPath %>about/" class="page-link">ParmoSense をもっと知る</a>
          </div>
        </div>
      </div>
    </section>

    <section class="content bg-gray">
      <div class="content-wrap clearfix">
        <h1>Events<span>イベント</span></h1>
        <p>
          ParmoSenseは、学術研究や地域活動をはじめ、さまざまな用途に活用できます。<br>
          学術研究の実証実験や、地域のスタンプラリー・街歩きイベントなどですでに実稼働しています。
        </p>
      </div>
      <div class="event-photos">
        <div>
          <ul>
            <li><img src="<%= param.rootPath %>img/events/naist_opencampus_1.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/naist_opencampus_2.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/naist_opencampus_3.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ubiquitous_3.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ubiquitous_2.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ubiquitous_4.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ikoma_1.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ikoma_2.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ikoma_3.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ayase_1.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/ayase_2.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/kyoto_1.jpg"></li>
            <li><img src="<%= param.rootPath %>img/events/kyoto_2.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="content-wrap clearfix">
        <a href="<%= param.rootPath %>events/" class="page-link">ParmoSense の活用例</a>
      </div>
    </section>

    <section class="content">
      <div class="content-wrap clearfix">
        <h1>Development Team<span>開発チーム</span></h1>
        <p>
          ParmoSenseは、奈良先端科学技術大学院大学 情報科学研究科 ユビキタスコンピューティングシステム研究室 スマートシティ研究グループが開発しています。
        </p>
        <a href="<%= param.rootPath %>team/" class="page-link">開発チームメンバーについて</a>
      </div>
    </section>

    <section class="content bg-gray">
      <div class="content-wrap clearfix">
        <h1>Download<span>ダウンロード</span></h1>
        <div class="download-link">
          <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="img/badge_googleplay.png" alt="ParmoSense Android"></a>
          <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="img/badge_appstore.png" alt="ParmoSense iOS"></a>
        </div>
        <div class="left-description">
          <p>
            ParmoSenseは以下のリンクからダウンロード可能です。<br>
            端末のスペック要件については<a href="/download/">こちら</a>をご確認ください。
          </p>
          <a href="<%= param.rootPath %>download/" class="page-link">端末スペック要件を確認する</a>
        </div>
      </div>
    </section>

  </div>

  <%- include(param.rootPath + "template/footer") -%>
